{% extends 'back.html.twig' %}
{% block body %}
    <h1>Page pour Admin</h1>
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li><a href="">Accueil</a></li>
    	<li class="active">Liste des patients</li>
    </ul>
{% endblock %}